# Database (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/eda_ai?schema=public"

# JWT
JWT_SECRET="eda-ai-super-secret-jwt-token-key-2026"

# Google Gemini Vision API
GEMINI_API_KEY=""

# Server Port
PORT=3000
